%% -*- erlang -*-

{ deps_dir, [ "deps" ] }.
{ lib_dirs, [ "deps" ] }.

{ deps
, [ { emark
    , ".*"
    , { git
      , "git://github.com/ftrvxmtrx/emark.git"
      , { branch, "master" }
      }
    }
  ]
}.

{ xref_checks, [ exports_not_used, undefined_function_calls ] }.

{ plugin_dir, "deps/emark/src" }.
{ plugins, [ emark_plugin ] }.

%% emark options
{ emark_opts
, [ %% minimal number of iterations
    { n, 1000 }
    %% duration of each benchmark (microseconds)
  , { duration, 500000 }
    %% report to stdout
  , { report_stdout, true }
    %% report filename (change to 'false' to disable)
  , { report_file, "report.txt" }
    %% show difference between runs
  , { show_diff, true }
  ]
}.

%%% Local Variables:
%%% erlang-indent-level: 2
%%% End:
